.tours__heading, .features__box-icon, .about__heading {
  display: inline-block;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  color: #777;
}

a:link,
a:visited {
  text-decoration: none;
  color: #777;
  display: inline-block;
}

ul {
  list-style: none;
}

section {
  padding: 25rem 0;
  text-align: center;
  background-color: #f7f7f7;
}

.text__box-h {
  font-weight: 700;
  text-transform: uppercase;
}
@-webkit-keyframes moveRight {
  0% {
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@-webkit-keyframes moveLeft {
  0% {
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.button {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5rem;
  position: relative;
  transition: all 0.2s;
}
.button-white {
  background-color: #fff;
}
.button-animated {
  -webkit-animation: moveUp 0.5s ease-out 0.5s;
          animation: moveUp 0.5s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.button::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 0.4s;
  z-index: -1;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.button-text:visited, .button-text:link {
  color: #55c57a;
  padding: 3px;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s;
}
.button-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo--img {
  height: 3.5rem;
}
.header__heading {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}
.header__heading--box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__heading-main {
  font-size: 6rem;
  letter-spacing: 3.5rem;
  -webkit-animation: moveRight 1s ease-out;
          animation: moveRight 1s ease-out;
}
.header__heading-sub {
  font-size: 2rem;
  letter-spacing: 1.74rem;
  font-weight: 700;
  -webkit-animation: moveLeft 1s ease-out;
          animation: moveLeft 1s ease-out;
}

.about {
  margin-top: -20vh;
  background-color: #f7f7f7;
}
.about__heading {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.2s all;
  margin-bottom: 8rem;
}
.about__heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.about__images {
  position: relative;
}
.about__images:hover .about__img:not(:hover) {
  transform: scale(0.95);
}
.about__img {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  outline-offset: 1.5rem;
  transition: all 0.2s;
}
.about__img-1 {
  top: -2rem;
  left: 0;
}
.about__img-2 {
  right: 0;
  top: 2rem;
}
.about__img-3 {
  top: 10rem;
  left: 20%;
}
.about__img:hover {
  transform: scale(1.05);
  outline: 1.2rem solid #55c57a;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.features {
  margin-top: -10rem;
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
}
.features .row {
  row-gap: 4rem;
  transform: skewY(7deg);
}
.features__box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 2.5rem 1.5rem;
  border-radius: 3px;
  transition: all 0.2s;
}
.features__box-icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
}
.features__box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.tours {
  margin-top: -10rem;
}
.tours__heading {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.2s all;
  margin-bottom: 8rem;
}
.tours__heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.tours__card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.tours__card--side {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.7s ease;
}
.tours__card--side--front {
  background-color: #fff;
}
.tours__card--side--back {
  transform: rotateY(180deg);
}
.tours__card--side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.tours__card--side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.tours__card--side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.tours__card:hover .tours__card--side--front {
  transform: rotateY(-180deg);
}
.tours__card:hover .tours__card--side--back {
  transform: rotateY(0);
}
.tours__card--picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tours__card--picture-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.tours__card--picture-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.tours__card--picture-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.tours__card--heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 27%;
  right: 5%;
  width: 70%;
}
.tours__card--heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.tours__card--heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.tours__card--heading-span-2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.tours__card--heading-span-3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.tours__card--details {
  padding: 3rem;
}
.tours__card--details ul {
  width: 80%;
  margin: 0 auto;
}
.tours__card--details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.tours__card--details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.tours__card--cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.tours__card--price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.tours__card--price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.tours__card--price-value {
  font-size: 6rem;
  font-weight: 100;
}