/////// Header ///////

.header {
  height: 95vh;
  background-image: $linear-gradient-section, url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    &--img {
      height: 3.5rem;
    }
  }

  &__heading {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-main {
      font-size: 6rem;
      letter-spacing: 3.5rem;
      animation: moveRight 1s ease-out;
    }

    &-sub {
      font-size: 2rem;
      letter-spacing: 1.74rem;
      font-weight: 700;
      animation: moveLeft 1s ease-out;
    }
  }
}

.about {
  margin-top: -20vh;
  background-color: $color-section-background;

  &__heading {
    @include heading-2(8rem);
  }
  &__images {
    position: relative;
    &:hover .about__img:not(:hover) {
      transform: scale(0.95);
    }
  }
  &__img {
    position: absolute;
    width: 55%;
    box-shadow: $img-shadow;
    outline-offset: 1.5rem;
    transition: $transition;

    &-1 {
      top: -2rem;
      left: 0;
    }
    &-2 {
      right: 0;
      top: 2rem;
    }
    &-3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      transform: scale(1.05);
      outline: 1.2rem solid $color-main;
      box-shadow: $img-shadow-hover;
      z-index: 3;
    }
  }
}
