/////// Header ///////

.header {
  height: 95vh;
  background-image: $linear-gradient, url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo {
    &--img {
    }
  }

  &__heading {
    &-main {
    }
    &-sub {
    }
  }
}
