/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-main-light: #7ed56f;
$color-main: #55c57a;
$color-main-dark: #28b485;
$color-text: #777;

$linear-gradient: linear-gradient(
  to right bottom,
  rgba(126, 213, 111, 0.8),
  rgba(40, 180, 133, 0.8)
);
